@import "tailwindcss";

:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
}
